In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\harshini\appdata\local\programs\python\python312\lib\site-packages (8.4.0)

-----------------
Task 1

In [4]:
# Import connector module
import mysql.connector as connector

# Establish connection
connection = connector.connect(user = "admin1", password = "inihsrah", db = "littlelemondb")

# Instantiate cursor object
cursor = connection.cursor()

---------------
Task 2

In [8]:
# test query to show tables in the database
show_tables_query = "SHOW tables" 

# execute the query
cursor.execute(show_tables_query)

# fetch the results
results = cursor.fetchall()
print(results)

[('bookings',), ('customerdetails',), ('menuitems',), ('menus',), ('orderdeliverystatus',), ('orders',), ('ordersview',), ('staffinformation',)]

---------------
Task 3

In [12]:
# Query with table JOIN
# in my model, Customers table is linked to Orders table via the Bookings table
join_query = """
SELECT C.Name, C.ContactNumber, C.Email, Orders.TotalCost AS BillAmount
FROM CustomerDetails AS C
	INNER JOIN Bookings ON C.CustomerID = Bookings.CustomerID 
    INNER JOIN Orders ON Bookings.BookingID = Orders.BookingID
WHERE TotalCost > 60
"""

# execute the query
cursor.execute(join_query)

# fetch the results
results = cursor.fetchall()

# print column names
print(cursor.column_names)

# print results
for row in results:
    print(row)

('Name', 'ContactNumber', 'Email', 'BillAmount')
('Marcos Romero', 354789612, 'marcos@mail.com', Decimal('86'))
('Vanessa McCarthy', 958741235, 'vanessa@mail.com', Decimal('125'))
('Jane Murphy', 851203474, 'jane@mail.com', Decimal('97'))